.contato {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "title title title"
    "contatos social links";
  grid-template-rows: auto 1fr;
  user-select: none;
  align-items: center;
  justify-content: space-between;
}

.contato-container {
  grid-area: contatos;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contato-title {
  font-size: 1.5rem;
}

.contato-item {
  display: flex;
  gap: 24px;
}

.contato-item__icon {
  font-size: 1.25rem;
}

.social-container {
  grid-area: social;
  display: flex;
  gap: 32px;
  font-size: 1.5rem;
}

.social {
  width: 64px;
  height: 64px;
  background-color: var(--icon-color);
  display: grid;
  place-content: center;
}

.links-container {
  grid-area: links;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.links-title {
  font-size: 1.5rem;
}

footer {
  grid-area: content;
  place-self: end center;
  height: 50px;
  width: 100%;
  display: grid;
  place-content: center;
  border-top: 2px solid #fff;
  font-size: 1rem;
}

@media (max-width: 960px) {
  .contato {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: var(--padding-responsive);
  }


  .contato-container{
    display: flex;
    align-items: center;
    transform: translateY(-10%);
  }
  .social-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-10%);
    padding-top: 24px;
  }

  .links-container {
    display: flex;
    align-items: center;
    transform: translate(1%, -20%);
    padding: var(--padding-responsive);
  }

}
