.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 48px;
  user-select: none;
}

.profile__text {
  font-size: 2.5rem;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
}

@media (max-width: 960px){
  .profile {
    display: flex;
    flex-direction: column;
    font-size: 2.25rem;
    align-items: center;
  }
}