:root{
    --primary-color: #FEDC00;
    --icon-color: #252525;
}

html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}

header{
    grid-area: content;
    margin-top: 48px;
    width: 100%;
    max-width: 1200px;
    place-self: start center;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    height: 100vh;
}

.projetos{
    background-color: lightgreen;
    width: 100%;
}
.contato{
    background-color: plum;
    width: 100%;
}

#link-topo{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    background-color:#323232;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

footer{
    grid-area: content;
    height: 100px;
    width: 100%;
    place-self: end center;
    background-color: #0005;
}